<head prefix="og:http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="no-referrer">
  <meta name="robots" content="noindex,nofollow,noarchive,notranslate" />
  <meta name="google-site-verification" content="{{- site.verification -}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Cache-Control" content="no-transform">
  <link rel="stylesheet" href="/asset/css/default.css" type="text/css">

<!--  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" type="text/css">-->

  <link rel="apple-touch-icon" href="{{-site.icon-}}?20210127">
  <link rel="icon" href="{{-site.icon-}}?20210127" type="image/png" sizes="192x192">
  <link rel="shortcut icon" href="{{-site.icon-}}?20210127" type="image/png">

<!--

<link rel="apple-touch-icon" sizes="57x57" href="/asset/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/asset/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/asset/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/asset/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/asset/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/asset/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/asset/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/asset/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/asset/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/asset/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/asset/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/asset/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/asset/favicon/favicon-16x16.png">
<link rel="manifest" href="/asset/favicon/manifest.json">

<link rel="apple-touch-icon-precomposed" href="/asset/favicon/apple-icon-180x180.png">


  {%- comment -%}favicon{%- endcomment -%}
  <link rel="shortcut icon" href="{{-site.icon-}}" type="image/jpg">
  {%- comment -%}iOS用アイコン{%- endcomment -%}
  <link rel="apple-touch-icon" href="{{-site.icon-}}?20210121">
  {%- comment -%}Android用アイコン{%- endcomment -%}
  <link rel="icon" href="{{-site.icon-}}" type="image/jpg" sizes="192x192">
  {%- comment -%}PWA用マニフェスト{%- endcomment -%}
  <link rel="manifest" href="/extra/manifest.json">
-->

{%- if h1 -%}
  <title>{{- h1 -}}</title>
{%- else -%}
  <title>{{- site.title -}}</title>
{%- endif -%}


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{- site.analytics -}}');
</script>

</head>